
/* Sections*/
html{
    scroll-behavior: smooth;
}
body{
margin: 0px 10% 0px 10%;
}
header{
    outline: 1px solid rgb(255, 0, 234);

}
#Welcome{
    height: auto;
    padding: 25px;
    margin: 0 auto;
    outline: 5px solid greenyellow;

}
#MyWork{
    height: auto;
    padding: 25px;
    margin: 0 auto;
    outline: 5px solid greenyellow;
}
#MySkills{
    height: auto;
    padding: 25px;
    margin: 0 auto;
    outline: 5px solid greenyellow;

}
footer{
    outline: 5px solid greenyellow;

}

/* Components*/
.inline-block{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    outline: 1px solid red;
}
nav{
    width: 80%;
    font-family: 'Fauna One', serif;
    font-size: 16pt;
    outline: 7px solid rgb(255, 0, 234);

}
.logo{
    width: 17%;
    height: auto;
    text-align: center;
    outline: 1px solid red;
}
.navHead{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30%;
    outline: 1px solid red;

}
footer ul{
    display: flex;
    vertical-align: top;
    font-family: 'Fauna One', serif;
    font-size: 16pt;
    outline: 1px solid red;
    width: 60%;
    justify-content: space-between;
    padding-left: 18%;

}
button{
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;
    transition: 0.3s;
    background-color: #AABBB6;
    border: .5px solid #6C8887 ;
    border-radius: 4px;
    outline: 1px solid red;

}
button:hover{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    outline: 1px solid red;

}
.mockup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

/* Font Text Headings */

h2{
    font-family: 'Fauna One', serif;
    font-size: 36pt;

}
h3{
    font-family: 'Fauna One', serif;
    font-size: 24pt;
}
h4{
    font-family: 'Fauna One', serif;
    font-size: 20pt;
}
p{
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;
}

li{
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;
}
