
<!--
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
header{

}
nav{
    width: 73%;
    padding: 1%;
}
footer{
    background-color: #c1c1e9;
    margin-right: 90px;
    margin-left: 90px;
}
button{
    font-family: 'Comfortaa', cursive;
    font-size: 16pt;
    transition: 0.3s;
    background-color: #6C8887;

}
button:hover{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
ul{
    width: 30%;
    margin-left: auto;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: center;
}
.navAbout{
    
    transition: ;
}

.heroImg{
    height: auto;
    width: 1000px;
    padding: 25px;
    margin: 0 auto;
}
.myWork{
    height: auto;
    width: 1000px;
    padding: 25px;
    margin: 0 auto;
}
.mySkills{
    height: auto;
    width: 1000px;
    padding: 25px;
    margin: 0 auto;
}

h1{
    font-family: 'Fauna One', serif;
    font-size: 64pt;

}
h2{
    font-family: 'Fauna One', serif;
    font-size: 48pt;

}
h3{
    font-family: 'Fauna One', serif;
    font-size: 36pt;
}
h4{
    font-family: 'Fauna One', serif;
    font-size: 24pt;
}
p{
    font-family: 'Comfortaa', cursive;
    font-size: 18pt;
}
